{{!-- Form for entering a recipe --}}
<form id="create-recipe-form">
  <ul>
    <li> <label for="title">Title:</label><br>
      <input type="text" class="title" name="title"><br>
    </li>
    <li><label for="ingredients">Ingredients:</label><br>
      <input type="text" class="ingredients" name="ingredients"><br>
    </li>
    <li> <label for="description">Description:</label><br>
      <input type="description" class="description" name="description"></textarea><br>
    </li>
  </ul>
  <ul><input type="submit" value="Submit"></ul>
  {{!-- delete recipe button --}}
  <ul><button type="submit" class="pure-button pure-button-primary" style="background-color: #6f1a07;"
    data-id="{{id}}">Delete</button> </ul>
</form>

    <script src="/js/index.js"></script>