{{#each recipe as |recipe| }}
  <table>
    <tr>
      <th>Title</th>
      <th>Ingredients</th>
      <th>Description</th>
    </tr>
    <tr>
      <td><a href="/recipe/{{recipe.id}}">{{recipe.title}}</a></td>
      <td>{{recipe.ingredients}}</td>
      <td>{{recipe.description}}</td>
    </tr>
  </table>
{{/each}}