<form class="signup-form pure-form pure-form-aligned">
            <fieldset>
                <div class="pure-control-group">
                    <label for="aligned-name">Email Address</label>
                    <input type="text" id="aligned-name" class="email-signup" placeholder="Email" />
                    
                </div>
                <div class="pure-control-group">
                    <label for="aligned-password">Username</label>
                    <input type="text" id="aligned-password" class= "name-signup"  placeholder="Username" />
                </div>
                <div class="pure-control-group">
                    <label for="aligned-email">Password</label>
                    <input type="password" id="aligned-email" class="password-signup" placeholder="Password" />
                </div>
                {{!-- <div class="pure-control-group">
                    <label for="aligned-foo">Confirm Password</label>
                    <input type="password" id="aligned-foo" placeholder="Confirm Password" />
                </div> --}}
                <div class="pure-controls">
                    <button type="Create" class="pure-button pure-button-primary"
                        style="background-color: #6f1a07;"><a href="/create">Create Account</a></button>
                        <button type="submit" class="pure-button pure-button-primary" style="background-color: #6f1a07;"><a href="/login">Sign
            in</a></button>
                </div>
            </fieldset>
        </form>

        <script src="/js/signup.js"></script>

