<form class="pure-form login-form">
    <div>
        <input id="email-login" type="email" placeholder="Email" />
        <input id="password-login" type="password" placeholder="Password" />
        <label for="default-remember">
            <input type="checkbox" id="default-remember" /> Remember me
        </label>
        <button type="submit" class="pure-button pure-button-primary" style="background-color: #6f1a07;">Sign
            in</button>
    </div>
</form>

<script src="/js/login.js"></script>