body {
  background-repeat: no-repeat;
  background-size: cover;

}



h1 {
    margin-left: 1%;
    font-size: 50px;
}

h3 {
    display: flex;
    justify-content: center; 
    
}

form {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    
}

